{% extends 'base_article.html' %}
{% load tn2 static %}

{% block extra_head %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:description" content="{{ article.get_excerpt }}" />
{% if article.main_image %}
<meta property="og:image" content="{{ article.main_image.url|absolute_uri:request }}" />
{% endif %}
{% endblock %}

{% block bodyclasses %}article{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if view.user_can_admin %}
    <a class="button" href="{% url 'admin:tn2app_article_change' article.id %}">Administrer</a>
    {% endif %}
{% endblock %}

{% block inner_content %}
<div class="overline">
<h2>{{ article.title }}</h2>
</div>
<p class="metaline">
    {% include 'include/article_meta_line.html' %}
</p>

{% if not article.is_published %}
<p>
    <strong>Cet article n'est pas encore publié, et voici, ci-dessus, l'image de vignette:</strong>
</p>
<p>
    <img src="{% if article.main_image %}{{ article.main_image.url }}{% else %}{% static 'images/image-placeholder.png' %}{% endif %}">
</p>
{% endif %}

{{ article.get_content|safe }}

<div class="author-bio">
    <a href="{{ article.author.profile.get_absolute_url }}">
        <img src="{{ article.author|avatar_bigger_url }}">
    </a>
    <h5>
        A propos de l'auteur : {{ article.author|user_link }}
    </h5>
    <p>{{ article.author.profile.description_for_articles }}</p>
    <a href="{% url 'blog_by_author' slug=article.author.username %}">Tous les articles</a>
    <div class="clear"></div>
</div>

{% include 'include/socialactions.html' with prompt='Vous avez aimé cet article?' %}

<div class="overline">
    <h4 class="red">Ajouter un commentaire</h4>
</div>
{% if user.is_authenticated and not READONLY %}
    {% include 'include/add_comment_form.html' with target=article notitle=True %}
{% else %}
    {% if READONLY %}
    <p>Le site est temporairement en mode "lecture seule".</p>
    {% else %}
    <p>Vous devez être <a href="{% url 'auth_login' %}">connecté</a> pour publier un commentaire.</p>
    {% endif %}
    <p>&nbsp;</p>
{% endif %}

<a name="comments"></a>
<div class="overline">
    <h2>Commentaires</h2>
</div>
{% include 'comments/tn2app/list.html' with comment_list=article.comments.all noline_on_first=True %}

{% endblock %}

{% block bottom_js %}
{% if user.is_authenticated %}
{% include 'include/ckjs.html' %}
{% endif %}
{% endblock %}
