{% extends 'base.html' %}
{% load static %}

{% block main_contents %}
<div class="inner-content">
{% block inner_content %}{% endblock %}
</div>

<div class="sidebar">
    <div class="categories">
        <div class="overline">
            <h4>Catégories</h4>
        </div>
        <ul class="selector with-lines">
            {% with active_category=view.active_category %}
            {% for cat in view.featured_categories.all %}
            <li>
                <a
                    {% if active_category == cat %}class="active"{% endif %}
                    href="{% url 'category' slug=cat.slug %}">
                    {{ cat.title }}
                </a>
            </li>
            {% endfor %}
            {% endwith %}
        </ul>
    </div>

    <div>
        <div class="overline">&nbsp;</div>
        {% with sponsor=view.get_sponsor %}
        <a href="{{ sponsor.1 }}" target="_blank">
            <img class="sponsor" src="{{ sponsor.0 }}" width="250" height="200">
        </a>
        {% endwith %}
        <a class="sponsors-about" href="{% url 'page_sponsors' %}">À propos des sponsors</a>
    </div>

    <div>
        <div class="overline">
            <h4>Publiez vos articles</h4>
        </div>
        <p>Vous souhaitez contribuer au blog en écrivant un article ?</p>
        <ul class="acces_rapide">
            <li>
                <a href="{% url 'page_envoyez-nous-vos-articles' %}">Envoyez-le à la rédaction !</a>
            </li>
        </ul>
    </div>

    <div>
        <iframe
            src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FThreadNeedles%2F121145491299220&amp;width=250&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23dddddd&amp;stream=false&amp;header=true&amp;height=290"
            scrolling="no"
            frameborder="0"
            style="border:none; overflow:hidden; width:250px; height:290px;"
            allowTransparency="true">
        </iframe>
    </div>

    <div>
        <a href="{% url 'article' slug='7771-les-trouvailles-de-la-semaine-le-sommaire' %}">
            <img src="{% static 'images/trouvailles_sommaire.png' %}">
        </a>
    </div>
</div>
{% endblock %}


