{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="Rejoignez la premi&eacute;re communaut&eacute; couture francophone ! Cr&eacute;ations, tutos, articles d'actualit&eacute;, &eacute;change... venez partager votre passion avec les autres needlenautes !">
        <title>{% block doctitle %}thread&amp;needles - La communaut&eacute; couture{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Puritan' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block bodyclasses %}{% endblock %}">
        <div class="header">
            <div class="fullwidth">
                <ul>
                    <li><a href="{% url 'homepage' %}">Accueil</a></li>
                    <li><a href="{% url 'project_list' %}">La galerie</a></li>
                    <li><a href="{% url 'article_list' %}">Le blog</a></li>
                    <li><a href="{% url 'discussion_groups' %}">Les groupes</a></li>
                    {% if user.is_authenticated %}
                    <li class="right dropdown">
                        <a href="#" class="dropbtn">{{ user.profile.display_name }}</a>
                        <div class="dropdown-content">
                            <a href="{% url 'user_profile' username=user.username %}">Mon profil</a>
                            {% if not READONLY %}
                            <a href="{% url 'project_create' username=user.username %}">Publier un projet</a>
                            {% endif %}
                            {% if user.is_staff and not READONLY %}
                            <a href="{% url 'admin:index' %}">Administration</a>
                            {% endif %}
                            <form method="post" action="{% url 'auth_logout' %}">
                                {% csrf_token %}
                                <button type="submit">Déconnexion</button>
                            </form>
                        </div>
                    </li>
                    {% if user.profile.has_notifications and not READONLY %}
                    <li class="right">
                        <a
                            class="notification fa fa-exclamation-circle"
                            title="Vous avez de nouvelles notifications"
                            href="{% url 'user_notifications' %}">
                        </a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="right"><a href="{% url 'registration_register' %}">Inscription</a></li>
                    <li class="right"><a href="{% url 'auth_login' %}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="subheader">
            <div class="fullwidth">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'images/tn-logo.png' %}"/>
                </a>
                <div class="rightmost">
                    {% if READONLY %}
                    <span>Le site est temporairement en mode "lecture seule".</span>
                    {% else %}
                    {% if user.is_authenticated %}
                    <a class="button publier-projet" href="{% url 'project_create' username=user.username %}">Publier un projet</a>
                    <form name="search" method="get" action="{% url 'search' %}">
                        <input name="q" autocomplete="on" placeholder="Recherche" type="text"/>
                        <button class="fa fa-search search-button" type="submit"></button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if FROMFR %}
        <div class="warningbanner">
            <div class="fullwidth">
                <p>
                    Vous arrivez par un lien "threadandneedles.fr", qui sera bientôt échu. il faut
                    <a href="{% url 'page_transition-fr-org' %}">changer votre lien!</a>
                </p>
            </div>
        </div>
        {% endif %}
        <div class="main_contents fullwidth">
        <p class="breadcrumb">
        {% block breadcrumb %}
            <a href="{% url 'homepage' %}">Accueil</a>
            {% with breadcrumb=view.breadcrumb %}
            {% for item in breadcrumb %}
            &nbsp;&gt;&nbsp;
            {% if item.0 %}
                <a href="{{ item.0 }}">{{ item.1 }}</a>
            {% else %}
                {{ item.1 }}
            {% endif %}
            {% endfor %}
            {% endwith %}
        {% endblock %}
        </p>

        {% block main_contents %}
        {% endblock %}
        </div>

        <div class="footer-margin"></div>
        <div class="footer">
            <div class="fullwidth">
                <div class="column">
                    <h3>Thread&amp;Needles</h3>
                    <p>
                        Notre but ? Rassembler les passionnés de DIY francophones au travers d'un
                        espace commun.
                    </p>
                    <p>
                        <a href="{% url 'page_a-propos' %}">En savoir plus...</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/pages/ThreadNeedles/121145491299220" rel="nofollow" title="Rejoignez-nous sur Facebook"><img src="{% static 'images/facebook.png' %}" /></a>&nbsp;
                        <a href="https://www.instagram.com/thread.and.needles/"><img src="{% static 'images/instagram_logo.svg' %}" /></a>&nbsp;
                        <a href="{% url 'blog_feed' %}" target="_blank" title="Flux RSS du blog"><img src="{% static 'images/rss.png' %}" /></a>&nbsp;
                        <a href="https://gitlab.com/threadandneedles/tn2" target="_blank"><img src="{% static 'images/github.png' %}" /></a>
                    </p>
                    <div class="contribute">
                        <a target="_blank" href="https://www.helloasso.com/associations/thread-and-needles/formulaires/1" class="hello_asso">
                            <img src="https://www.helloasso.com/forms/img/logo-helloasso-badge.e63d1d2.svg" alt="HelloAsso" loading="lazy">
                            <span>Contribuer</span>
                        </a>
                    </div>
                    <div class="contribute">
                        <a target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=NA3ACLPDC4B2N">
                            <img style="width: 124px;" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        </a>
                    </div>
                </div>
                <div class="column rightalign">
                    <h4>Création</h4>
                    <ul>
                        <li><a href="{% url 'article_list' %}">Le blog thread&amp;needles</a></li>
                        <li><a href="{% url 'article' slug='7771-les-trouvailles-de-la-semaine-le-sommaire' %}">Les trouvailles de la semaine</a></li>
                        <li><a href="{% url 'project_list' %}">La galerie des projets</a></li>
                        <li><a href="{% url 'project_list' %}?type=populaires">Les projets populaires</a></li>
                    </ul>
                </div>
                <div class="column rightalign">
                    <h4>Communauté</h4>
                    <ul>
                        <li><a href="{% url 'discussion_groups' %}">Les groupes</a></li>
                        <li><a href="{% url 'category' slug='needlenaute-du-mois' %}">Le needlenaute du mois</a></li>
                    </ul>
                </div>
                <div class="column rightalign">
                    <h4>Aide et support</h4>
                    <ul>
                        <li><a href="{% url 'page_a-propos' %}">A propos de nous</a></li>
                        <li><a href="{% url 'page_cgu' %}">Règlement / CGU</a></li>
                        <li><a href="{% url 'page_foire-aux-questions' %}">Foire Aux Questions</a></li>
                        <li><a href="{% url 'page_sponsors' %}">Sponsors / Publicité</a></li>
                        <li><a href="{% url 'page_contact' %}">Nous contacter</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <script type="text/javascript" src="{% static "js/global.js" %}"></script>
        {% block bottom_js %}
        {% endblock %}
    </body>
</html>

