{% extends 'base_discussion.html' %}
{% load tn2 humanize %}

{% block bodyclasses %}discussion-detail{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if view.user_can_admin and not READONLY %}
    <a class="button" href="{% url 'admin:tn2app_discussion_change' discussion.id %}">Administrer</a>
    {% endif %}
{% endblock %}

{% block discussion_inner_content %}
<h4>{{ discussion.title }}</h4>
<p class="retour-aux-forums">
    <a href="{{ discussion.group.get_absolute_url }}">Retour aux forums</a> |
    {% if request.user in discussion.bookmarked_by.all %}
        <a href="{% url 'discussion_bookmark' group_slug=discussion.group.slug discussion_slug=discussion.slug %}?delete">Retirer des favoris</a>
    {% else %}
        <a href="{% url 'discussion_bookmark' group_slug=discussion.group.slug discussion_slug=discussion.slug %}?add">Ajouter en favoris</a>
    {% endif %}
</p>

{% include 'include/pagination.html' with rightalign=True %}

{% if not page_obj.has_previous %}
<dl class="comments">
    <dt class="noline">
        <img class="avatar" src="{{ discussion.author|avatar_big_url }}" />
        <div class="title">
            {{ discussion.author|user_link }} ({{ discussion.creation_time|naturaltime }})
            {% if discussion.author == user or view.user_can_admin %}
            <a class="fa fa-edit" href="{% url 'discussion_edit' group_slug=discussion.group.slug discussion_slug=discussion.slug %}"></a>
            {% endif %}
        </div>
    </dt>
    <dd>
        <div class="content">{{ discussion.content|safe }}</div>
    </dd>
</dl>
{% endif %}

{% include 'comments/tn2app/list.html' with comment_list=page_obj noline_on_first=page_obj.has_previous %}

{% include 'include/pagination.html' with rightalign=True %}

{% if user.is_authenticated and not page_obj.has_next and not READONLY and not discussion.is_locked %}
    {% include 'include/add_comment_form.html' with target=discussion %}
{% endif %}
{% endblock %}

{% block bottom_js %}
{% if user.is_authenticated and not page_obj.has_next %}
{% include 'include/ckjs.html' %}
{% endif %}
{% endblock %}
