{% extends 'base_discussion.html' %}
{% load tn2 %}

{% block bodyclasses %}group-detail{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if view.user_can_admin and not READONLY%}
    <a class="button" href="{% url 'admin:tn2app_discussiongroup_change' group.id %}">Administrer</a>
    {% endif %}
{% endblock %}

{% block discussion_inner_content %}
<table class="discussion-list">
<thead>
    <tr>
        <th class="title">Titre du sujet</th>
        <th class="poster"></th>
        <th class="message-count">Messages</th>
        <th class="last-activity">Il y a</th>
    </tr>
</thead>
<tbody>
{% for discussion in page_obj %}
    <tr>
        <td class="title">
            {% if discussion.is_sticky %}&#11088;{% endif %}
            <a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a>
        </td>
        <td class="poster">
            {% if discussion.last_poster %}
            <img class="avatar" src="{{ discussion.last_poster|avatar_url }}"/>
            {% endif %}
        </td>
        <td class="message-count">{{ discussion.comment_count|add:1 }}</td>
        <td class="last-activity">{{ discussion.last_activity|timesince }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% include "include/pagination.html" with rightalign=True %}
{% if user.is_authenticated and not READONLY %}
<p>
<a class="button" href="{% url 'discussion_add' group_slug=group.slug %}">Créer une nouvelle discussion</a>
</p>
{% endif %}
{% endblock %}
