{% extends 'base.html' %}
{% load humanize tn2 static %}

{% block bodyclasses %}homepage{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block main_contents %}
    <div class="overline">
        <h4>Les articles</h4>
    </div>
    <ol class="threeitems">
        {% for article in articles %}
        <li>
            <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.main_image|thumbnail_url:'preview' }}"/>
                <h5>{{ article.title }}</h5>
            </a>
            {% if article.subtitle %}<p>{{ article.subtitle }}</p>{% endif %}
        </li>
        {% endfor %}
    </ol>
    <hr>

    <div class="col_left featured-projects">
        <div class="overline">
            <h4>Les projets à la Une</h4>
            <a class="rightmost" href="{% url 'project_list' %}">Voir tous les projets</a>
        </div>
        {% include "include/project-list.html" with project_list=featured_projects.all|slice:":3" only %}
    </div>

    <div class="col_right">
        <div class="overline">&nbsp;</div>
        {% with sponsor=view.get_sponsor %}
        <a href="{{ sponsor.1 }}" target="_blank">
            <img class="sponsor" src="{{ sponsor.0 }}" width="270" height="220">
        </a>
        {% endwith %}
        <a class="sponsors-about" href="{% url 'page_sponsors' %}">À propos des sponsors</a>
    </div>

    <div class="break"/></div>

    <div class="col_left">
        <div class="overline">
            <h4>Récemment dans les groupes</h4>
            <a class="rightmost" href="{% url 'discussion_groups' %}">Voir tous les groupes</a>
        </div>
        {% include 'include/discussion_ul.html' with discussions=recent_discussions only %}
    </div>

    <div class="col_right latest-projects">
        <div class="overline">
            <h4>Nouveaux projets</h4>
        </div>
        <div class="popular">
        {% for project in popular_projects %}
        <a href="{{ project.get_absolute_url }}">
            <img src="{{ project.image1|thumbnail_url:'project-list' }}"/>
        </a>
        {% endfor %}
        </div>
        <div class="new">
        {% for project in latest_projects.all|slice:":20" %}
        <a href="{{ project.get_absolute_url }}">
            <img src="{{ project.image1|thumbnail_url:'project-list' }}"/>
        </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}
