{% extends 'base.html' %}
{% load tn2 static %}

{% block bodyclasses %}project{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if not READONLY %}
    {% if view.user_can_admin %}
    <a class="button" href="{% url 'admin:tn2app_project_change' project.id %}">Administrer</a>
    <a class="button" href="{% url 'project_feature' pk=project.pk slug=project.get_slug %}">Mettre à la une</a>
    {% endif %}
    {% if view.user_can_admin or project.author == user %}
    <a class="button" href="{% url 'project_edit' pk=project.pk slug=project.get_slug %}">Modifier</a>
    {% endif %}
    {% endif %}
{% endblock %}

{% block main_contents %}
<div class="inner-content">
<div class="overline project_overtitle">
    <span>{{ project.get_like_count }} ♥</span>
    <h1>{{ project.title }}</h1>
</div>
<p>
</p>
<div id="full-size-image-container">
    {% if project.get_images|length > 1 %}
    <a id="full-size-image-prev" class="full-size-buttons">«</a>
    <a id="full-size-image-next" class="full-size-buttons">»</a>
    {% endif %}
    <img id="full-size-image" src="{{ project.image1.url }}" image-id="1" />
</div>
{{ project.description|safe }}

<div class="overline">&nbsp;</div>

{% include 'include/socialactions.html' with prompt='Vous avez aimé ce projet?' %}

<div class="overline">
    <h4 class="red">Ajouter un commentaire</h4>
</div>
{% if user.is_authenticated and not READONLY %}
    {% include 'include/add_comment_form.html' with target=project notitle=True %}
{% else %}
    {% if READONLY %}
    <p>Le site est temporairement en mode "lecture seule".</p>
    {% else %}
    <p>Vous devez être <a href="{% url 'auth_login' %}">connecté</a> pour publier un commentaire.</p>
    {% endif %}
    <p>&nbsp;</p>
{% endif %}

{% if project.comments.exists %}
<div class="overline">
<h4 id="comments">Commentaires</h2>
</div>
{% include 'comments/tn2app/list.html' with comment_list=project.comments.all noline_on_first=True %}
{% endif %}

<div class="overline">
    <h4>Ils aiment ce projet</h4>
</div>

<div class="userlist">
    {% for u in project.likes.all %}
        <a href="{{ u.profile.get_absolute_url }}">
            <img class="avatar" src="{{ u|avatar_big_url }}" alt="{{ u.profile.display_name }}">
        </a>
    {% endfor %}
</div>

</div>
<div class="sidebar">
    {% if not READONLY %}
    <div class="project_actions">
        <div class="action vote">
            <a
               {% if view.is_liked %}class="active"{% endif %}
                href="{% url 'project_like' pk=project.pk slug=project.get_slug %}">
                <i class="fa fa-heart"></i>
                J'aime
            </a>
        </div>
        <div class="action favorite">
            <a
               {% if view.is_favorite %}class="active"{% endif %}
                href="{% url 'project_favorite' pk=project.pk slug=project.get_slug %}">
                <i class="fa fa-star"></i>
                Favori
            </a>
        </div>
    </div>
    {% endif %}
    <div class="project-author">
        <img class="img-avatar-big" src="{{ project.author|avatar_big_url }}"/>
        Par {{ project.author|user_link }} <span>({{ project.creation_time|date:'d/m/Y' }})</span>
        <br>
        <span>dans {{ view.category_links }}</span>
    </div>
    {% if project.get_images|length > 1 %}
    <div class="overline clear">
        <h4>Vues</h4>
    </div>
    <div>
    {% for image in project.get_images %}
        <img
            class="project-image-preview"
            src="{{ image|thumbnail_url:'project-alternate-view' }}"
            data-full-url="{{ image.url }}"
            data-image-id="{{ forloop.counter }}"
        />
    {% endfor %}
    </div>
    {% endif %}

    <div class="overline">
        <h4>Détails du projet</h4>
    </div>
    <div class="project-info">
        <strong>Patron:</strong>
        {{ view.pattern_link }}
        <br>
        {% if project.pattern %}
        <strong>Créateur:</strong>
        {{ view.creator_link }}
        <br>
        <a href="{% url 'project_list' %}?pattern={{ project.pattern.id }}">
            Voir tous les projets utilisant ce patron
        </a>
        <br>
        {% endif %}
        {% if project.blog_post_url %}
        <a class="blog-url" href="{{ project.blog_post_url|fixurl }}" target="_blank">Retrouvez ce projet sur mon blog</a>
        <br>
        {% endif %}
        {% if project.contest %}
        <strong>Participation au concours "{{ project.contest.name }}"</strong>
        <br>
        {% endif %}
    </div>

    <div class="overline">
        <h4>Ma galerie</h4>
    </div>

    <div class="myprojects">
        {% for p in view.myprojects %}
        <a href="{{ p.get_absolute_url }}" class="{% if project.id == p.id %}highlight{% endif %}">
            <img src="{{ p.image1|thumbnail_url:'project-list' }}"/>
        </a>
        {% endfor %}

        <div class="voir_tout">
            <a href="{{ project.author.profile.get_absolute_url }}">Voir tous les projets →</a>
        </div>
    </div>

    <div class="overline">
        <h4>Tous les projets</h4>
    </div>

    <div class="allprojects">
        {% for p in view.allprojects %}
        <a href="{{ p.get_absolute_url }}" class="{% if project.id == p.id %}highlight{% endif %}">
            <img src="{{ p.image1|thumbnail_url:'project-list' }}"/>
        </a>
        {% endfor %}

        <div class="voir_tout">
            <a href="{% url 'project_list' %}">Voir tous les projets →</a>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_js %}
<script type="text/javascript" src="{% static "js/project_detail.js" %}"></script>
{% if user.is_authenticated %}
{% include 'include/ckjs.html' %}
{% endif %}
{% endblock %}
