{% extends 'base.html' %}
{% load tn2 add_get_parameter static %}

{% block bodyclasses %}project-list{% endblock %}

{% block extra_head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block main_contents %}
<div class="inner-content">

{% if not page_obj.has_previous %}
<div class="overline">
    <h3>Populaires cette semaine</h3>
</div>

{% include "include/project-list.html" with project_list=view.popular_this_week only %}
{% endif %}

<div class="overline">
    <h3>Galerie des projets</h3>
</div>

{% include "include/project-list.html" with project_list=project_list only %}

{% include "include/pagination.html" with rightalign=True %}
<p>
    Les projets figurant sur ce site sont © Tous droits réservés.
</p>
</div>

<div class="sidebar">
    {% include 'include/title.html' with text="Voir..." %}
    <ul class="selector with-lines">
        <li>
            <a
                {% if view.active_order == 'latest' %}class="active"{% endif %}
                href="{% add_get order='latest' page=1 %}">
                Les derniers projets publiés
            </a>
        </li>
        <li>
            <a
                {% if view.active_order == 'popular' %}class="active"{% endif %}
                href="{% add_get order='popular' page=1 %}">
                Les projets les plus populaires
            </a>
        </li>
        <li>
            <a
                {% if view.active_order == 'random' %}class="active"{% endif %}
                href="{% add_get order='random' page=1 %}">
                Projets au hasard
            </a>
        </li>
    </ul>

    {% include 'include/title.html' with text="Trier par destinataire" %}

    {{ view.target_selector }}

    {% include 'include/title.html' with text="Trier par domaine" %}

    {{ view.domain_selector }}

    {% include 'include/title.html' with text="Trier par catégorie" %}

    {{ view.category_selector }}

    {% include 'include/title.html' with text="Trier par patron" %}

    {{ view.pattern_checkboxes.render }}

    <ul class="pattern_selector">
    {% for selector in view.pattern_selectors %}
        <li>{{ selector }}</li>
    {% endfor %}
    </ul>

    {% include 'include/title.html' with text="Trier par concours" %}

    {{ view.contest_selector.render }}

</div>
{% endblock %}

{% block bottom_js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="{% static "js/project_list.js" %}"></script>
{% endblock %}
