{% extends 'base_user_profile.html' %}
{% load tn2 %}

{% block inner_content %}
<div class="overline">
    <h2>Discussions favorites ({{ page_obj.paginator.count }})</h2>
</div>

{% include 'include/discussion_ul.html' with discussions=discussion_list only %}


{% include "include/pagination.html" with rightalign=True %}
<p>
    Les projets figurant sur ce site sont © Tous droits réservés.
</p>
{% endblock %}


