{% extends 'base.html' %}

{% block main_contents %}
<h1>Confirmation de courriel</h1>
<p>Un courriel de confirmation a été envoyé à <b>{{ request.session.registration_email }}</b>. Cliquez sur le lien dans ce courriel pour activer votre compte.</p>
{% endblock %}
