div.footer-margin {
    clear: both;
    margin-bottom: 45px;
}

div.footer {
    margin: 0;
    padding-bottom: 10em;
    background-color: #f7f7f7;

    div.fullwidth {
        border-top-width: 5px;
        border-top-style: solid;
        border-top-color: #cccccc;
        padding-top: 35px;
    }

    div.column {
        width: 217px;
        margin-right: 30px;
        float: left;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: #999999;
    }

    h3, h4 {
        font-family: 'Lobster', arial, serif;
        margin-bottom: 15px;
    }

    h3 {
        color: #666666;
    }

    h4 {
        color: #999999;
    }

    ul {
        margin: 0;
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 8px;
        }
    }

    img {
        width: 20px;
    }

    .contribute {
        margin: 1em;
    }

    a.hello_asso {
        background: hsl(336,100%,calc(38%*1));
        box-shadow: 4px 4px 10px #999;
        border-radius: 6px;
        display: block;
        height: 50px;
        width: 124px;
        line-height: 50px;
        img {
            width: 30px;
            height: 30px;
            padding: 10px;
            border-radius: 6px;
            background: white;
            display: inline-block;
            vertical-align: top;
        }
        span {
            vertical-align: middle;
            color: white;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }
        &:hover {
            background: hsl(336,100%,calc(38%*.875));
        }
    }
}
