// Generic, group-related style

.discussion-list {
    img.avatar {
        width: 20px;
        height: 20px;
    }
}

// Group list styling and its page-specific styles

ul.group-list {
    padding: 0;
    margin: 0;
    list-style: none outside none;

    li {
        margin-bottom: 40px;
        padding: 6px 0;

        a.title {
            font-weight: bold;
        }
    }

    img {
        float: left;
        margin-right: 18px;
        width: 64px;
    }

    p {
        margin: 7px 0;
    }

    .activity {
        display: block;
        font-size: 0.9rem;
        margin-top: 4px;
    }
}

body.homepage ul.group-list {
    li {
        margin-bottom: 0;
        border-bottom: 1px solid #eeeeee;
    }
}

body.discussion-groups {
    div.inner-content ul.group-list {
        li img {
            width: 80px;
            height: 80px;
        }
    }

    /* sidebar in group list */
    div.recent-discussions,
    div.bookmarked-discussions {
        ul.group-list {
            border-top: 1px solid $thin_sep_line_color;

            li {
                margin-bottom: 0;
                padding: 10px 0;
                font-size: 0.9rem;
                border-bottom: 1px solid $thin_sep_line_color;

                a {
                    color: $text_color;
                }
            }

            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }

            p {
                margin: 0;
                margin-left: 40px;
            }
        }
    }

    div.groups-top-directory {
        width: 740px;

        div.bloc-groupe {
            float: left;
            width: 150px;
            padding-right: 90px;
            margin-bottom: 30px;
        }
    }
}

// Group list page style

body.discussion-groups {
    div.bloc-groupe {
        font-size: 0.9rem;

        div.group-titre {
            margin: 15px 0 5px 0;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    div.groupes_geo {
        margin-bottom: 25px;

        img {
            display: block;
            margin: auto;
        }

        select {
            width: 100%;
        }
    }
}

// Style common to group-detail and discussion-detail

body.group-detail,body.discussion-detail {
    div.page-title {
        margin-bottom: 50px;

        img {
            float: left;
            width: 60px;
            height: 60px;
        }

        div.overline {
            margin-left: 70px;
            clear: none;
            width: auto;
        }
    }
}

// Group detail page style

body.group-detail {
    table.discussion-list {
        margin-bottom: 10px;

        th {
            color: #555555;
            padding-bottom: 15px;
            border-bottom: 1px solid $thin_sep_line_color;
        }

        th.title {
            width: 66%;
            text-align: left;
        }

        th.poster {
            width: 6%;
        }

        th.message-count {
            width: 8%;
        }

        th.last-activity {
            width: 20%;
            text-align: right;
        }

        td {
            vertical-align: middle;
            padding: 5px 0;
            border-bottom: 1px solid $thin_sep_line_color;
        }

        td.title {
            font-weight: bold;
        }

        td.poster {
            text-align: center;
        }

        td.message-count {
            text-align: center;
        }

        td.last-activity {
            text-align: right;
            font-size: 0.9rem;
        }
    }
}

// Discussion page
body.discussion-detail {
    p.retour-aux-forums {
        margin: 0;
        font-size: 0.9rem;
    }

    div.message {
        margin-top: 15px;
        margin-bottom: 35px;

        div.title a:first-of-type {
            font-weight: bold;
        }

        div.content > * {
            margin: 6px 0 0 68px;
            text-align: justify;
        }
    }

}
