div.header {
    background-color: $bg_dark;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-weight: bold;
        text-transform: uppercase;
        color: $text_light;

        li {
            float: left;

            a, button {
                display: block;
                text-decoration: none;
                padding: 14px 16px;
            }
            a:visited, a:link, button {
                color: $text_light;
            }

            form {
                /* Overwrite button style */
                button {
                    background: none!important;
                    text-transform: uppercase;
                    font-weight: bold;
                    border: none;
                    cursor: pointer;
                }
            }

            :hover {
                background: $bg_dark_highlight;
            }
        }
        li.right {
            float: right;
        }
    }

    .notification {
        font-size: 16px;
        background-color: $text_color_pink;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $bg_dark;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a, form {
            background-color: $bg_dark;
        }

        a:hover, form:hover {
            background: $bg_dark_highlight;
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

div.subheader {
    background-color: $logo_bg_color;
    padding: 8px 0 8px 0;

    div.fullwidth {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.rightmost {
            display: flex;
            align-items: center;

            .publier-projet {
                margin-right: 20px;
            }

            .search-button {
                border: none;
                cursor: pointer;
                background-color: transparent;
            }
        }
    }
}

div.warningbanner {
    background-color: $red_errors;
    color: $text_light;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 0 4px 0;

    a:hover,a:link,a:visited {
        color: black;
    }
}
