ul.project-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        position: relative;

        a {
            color: $red_highlight;

            img {
                margin: 12px;
                transition: opacity 0.5s;
            }

            p.overlay {
                opacity: 0;
                visibility: hidden;
                transition: visibility 0s, opacity 0.5s;
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 22px 10px 22px;
                width: 150px;
                font-size: 18px;
                line-height: 22px;
                oveflow: hidden;

                span.subtext {
                    font-size: 1rem;
                    color: $text-color;
                    display: block;
                    margin-top: 10px;
                }
            }

            &:hover {
                img {
                    opacity: 0.16;
                }

                p.overlay {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

#full-size-image-container {
    text-align: center;
}

.full-size-buttons {
    font-size: 200%;
    padding: 0.2em 4em;
    &:first-of-type {
        float: left;
    }
    &:last-of-type {
        float: right;
    }
}

.project-list {
    a {
        text-decoration: none;
    }
}

div.project-author {
    background: url("#{$images_path}/bg-stripes-light.gif") bottom left repeat-x;
    padding-bottom: 15px;
    margin-bottom: 25px;

    img {
        float: left;
        padding-right: 10px;
        width: 50px;
        height: 50px;
        background-color: white;
    }

    span {
        font-size: 0.8rem;
    }
}

body.project {
    div.inner-content p {
        text-align: justify;
    }

    img.project-image-preview {
        cursor: pointer;
    }

    div.project-info {
        background-color: #eeeeee;
        padding: 10px;

        a.blog-url {
            font-weight: bold;
        }
    }

    div.project_actions {
        height: 25px;
        margin: 7px 0 35px 0;

        div {
            float: left;
            margin-right: 10px;
            padding-left: 6px;

            a {
                display: block;

                .fa {
                    color: $bg_dark;
                }

                &.active .fa {
                    color: $red_highlight;
                }
            }
        }

        .action {
            display: block;
            background: linear-gradient(white, #eee);
            border-radius: 3px;
            border: 1px solid $button_border_color;
            cursor: pointer;
            line-height: 16px;
            padding: 3px 8px;
            vertical-align: bottom;

            a {
                color: $button_text_color;
            }
        }
    }

    div.myprojects,div.allprojects {
        a {
            display: inline-block;
            padding: 0;
            margin: 0;
            opacity: 0.8;

            &.highlight {
                box-shadow: $text_color_link 0px 0px 6px;
                opacity: 0.9;
            }

            &:hover {
                opacity: 1.0;
            }
        }

        img {
            width: 76px;
            height: 76px;
            display: block;
        }
    }

    div.voir_tout {
        text-align: right;
    }

    div.userlist {
        img {
            margin: 8px;
        }
    }

    dl.comments {
        margin-bottom: 80px;
    }

    .project_overtitle {
        span {
            display: block;
            padding: 13px 0 2px 5px;
            float: right;
            background-color: white;
            color: #cccccc;
            font-size: 28px;
        }

        h1 {
            display: inline;
            padding-right: 5px;
            background-color: white;
        }
    }

}

body.project-list {
    div.inner-content div.overline {
        margin-bottom: 40px;
    }

    ul.project-list {
        margin-bottom: 20px;
    }

    div.pagination {
        // We want the pagination to have the copyright notice to its left and using float right
        // seemed like the easiest solution.
        float: right;
    }

    div.sidebar {
        ul.selector {
            margin-bottom: 25px;
        }

        ul.pattern_selector {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 20px;
            }

            select {
                width: 100%;
            }
        }
    }
}
