$text_color: #777777;
$text_light: #e3e3e3;
$heading_color: #666666;
$text_color_pink: #d92e69;
$text_color_link: #0d77d2;

/* By "funky links", I means those link with a special style: it has a light blue background */
$bg_link_funky: #e3f6fc;

$bg_dark: #847676;
$bg_dark_highlight: #948686;
$logo_bg_color: #f7f7f7;
$red_highlight: #d92e69;
$red_errors: red;
$pink_button_text_color: white;
$button_border_color: #dddddd;
$button_text_color: #777777;

$thin_sep_line_color: #eeeeee;

$images_path: "../images";
