{% load tn2 %}

<ul class="project-list">
{% for project in project_list %}
<li>
    <a href="{{ project.get_absolute_url }}">
        <img src="{{ project.image1|thumbnail_url:'project-list' }}"/>
        <p class="overlay">
            {{ project.title }}
            <span class="subtext">
                par {{ project.author.profile.display_name }}
                <br>
                {% if project.category %}
                dans {{ project.category }}
                {% endif %}
                <br>
                le {{ project.creation_time }}
            </span>
        </p>
    </a>
</li>
{% endfor %}
</ul>

