{% load static %}
<div class="socialactions">
    {{ prompt }}
    <a href="https://www.facebook.com/sharer.php?u={{ view.request.build_absolute_uri }}" target="_blank" title="Partager sur Facebook">
        <img src="{% static 'images/facebook_big.png' %}">
    </a>
</div>

